.model-data-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.model-header {
  text-align: center;
  padding: 10px;
  background-color: tomato;
  color: black;
}

