.form-box {
  background-color: rgb(237, 237, 243);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
.form-box .form-form-wrapper .input-field {
  display: flex;
  flex-direction: column;
}
.form-box .form-form-wrapper {
  background-color: aliceblue;
  padding: 20px;
}
.form-box .form-form-wrapper .form-input {
  margin-top: 10px;
}
.form-box .form-form-wrapper .form-input fieldset {
  border-radius: 20px;
}
.form-submit-button .form-button {
  border-radius: 20px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  width: 100%;
  margin-top: 10px;
  
}
.form-box .form-form-wrapper .input-field-box .form-submit-button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    padding: 10px;
    
}

.forgot-password-area{
  display: flex;
  justify-content: space-between;
  width: 100%;

}
.reset-form-heading{
  background-color: black;
  padding: 15px;
  color: white;
  text-align: center;

}